{% load static %}
</div><!-- end inner -->
</div><!-- end main -->
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="copyright">
			<li>&copy; RemoteArmy. All rights reserved</li>
			<li><a href="{% url 'membership' %}">Membership</a></li>
		</ul>
	</div>
</footer>

</div>

<!-- Scripts --> 
<script src="{% static 'companies/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'companies/assets/js/browser.min.js' %}"></script>
<script src="{% static 'companies/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'companies/assets/js/util.js' %}"></script>
<script src="{% static 'companies/assets/js/main.js' %}"></script>

</body>
</html>