{% include "header.html" %}

<h1 class="site-welcome">Membership</h1>

<!-- Text -->
<section>
	<p class="center">Showcase your company to remote workers across the world.</p>
	<hr />
</section>

<!-- Price List -->
<section>
	<div class="row">
		<div class="col-5 col-12-medium off-1 price-list">
			<ul class="alt">
				<li><h3>Community</h3><h1>FREE</h1><i class="fa fa-check-circle official-icon"></i>Organic exposure in the search result</li>
				<!-- <li><i class="fa fa-check-circle official-icon"></i>
					Free, unlimited job posting</li> -->
				<!--<li><i class="fa fa-check-circle official-icon"></i>
					Analytics dashboard</li>-->
				<li><i class="fa fa-check-circle official-icon"></i>
					Job notifications to all followers</li>
				<li><a href="#" class="button primary">Get in touch</a></li>
			</ul>
		</div>
		<div class="col-5 col-12-medium price-list">
			<ul class="alt">
				<li><h3>Sponsor</h3><h1>$150 per month</h1><i class="fa fa-check-circle official-icon"></i>Organic exposure in the search result.</li>
				<li><i class="fa fa-check-circle official-icon"></i>
					Free, unlimited job posting</li>
				<!-- <li><i class="fa fa-check-circle official-icon"></i>
					 Analytics dashboard</li> -->
				<li><i class="fa fa-check-circle official-icon"></i>
					Job notifications to all followers</li>
				<li><i class="fa fa-check-circle official-icon"></i>
					Top positions with a sponsor banner in search</li>
				<li><i class="fa fa-check-circle official-icon"></i>
					 Appear in the monthly newsletter</li>
				<li><a href="#" class="button primary">Get in touch</a></li>
			</ul>
		</div>
	</div>

</section>

{% include "footer.html" %}