<!-- Header -->
<header id="header">
	<div class="inner">

		<!-- Logo -->
			<a href="{% url 'index' %}" class="logo">
				<span class="symbol"><img src="https://i.pinimg.com/736x/a1/61/a4/a161a4ce5ec8a578ca3efabb01eec48a--army.jpg"></span><span class="title">RemoteArmy</span>
			</a>

		<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

	</div>
</header>

<!-- Menu -->
<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'blog' %}">Blog</a></li>
		<li><a href="{% url 'membership' %}">Membership</a></li>
		<!-- <li><a href="">Add a company</a></li> -->
	</ul>
</nav>